<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimplexPro.Properties.Settings.KeySiplexProConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\KeySiplexPro.accdb"
            providerName="System.Data.OleDb" />
        <add name="SimplexPro.Properties.Settings.SiplexProConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SiplexPro.accdb"
            providerName="System.Data.OleDb" />
        <add name="SimplexPro.Properties.Settings.siplexConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\siplex.accdb"
            providerName="System.Data.OleDb" />
        <add name="SimplexPro.Properties.Settings.reatConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\reat.mdb"
            providerName="System.Data.OleDb" />
        <add name="SimplexPro.Properties.Settings.НедвижимостьConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Недвижимость.mdb"
            providerName="System.Data.OleDb" />
        <add name="SimplexPro.Properties.Settings.KeySiplexConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\KeySiplex.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>